# Hands-on Psycopg2

## Import Needed Library

In [0]:
#Install psycopg2 first, if you don't have installed it yet
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\asus\anaconda3\lib\site-packages (2.8.4)

In [0]:
#Import the library that you need in this operation
import psycopg2
import pandas as pd

## Localhost Connection

In [0]:
#Create connection from localhost database 
host="127.0.0.1" 
database="TugasKilat" #Database that created in localhost pgadmin4 
user="postgres"
password="fauzan554"

In [0]:
conn = psycopg2.connect(host=host,database=database, user=user, password=password)
cur = conn.cursor()

## Read All Tables From Excel and CSV

In [0]:
campaign = pd.read_excel('C:/Users/Asus/Downloads/Downloads/campaign.xlsx')

In [0]:
campaign_details = pd.read_excel('C:/Users/Asus/Downloads/Downloads/campaign_details.xlsx')

In [0]:
distance = pd.read_excel('C:/Users/Asus/Downloads/Downloads/distance.xlsx')

In [0]:
geographic = pd.read_excel('C:/Users/Asus/Downloads/Downloads/geographic.xlsx')

In [0]:
campaign_details = pd.read_excel('C:/Users/Asus/Downloads/Downloads/campaign_details.xlsx')

In [0]:
plants = pd.read_excel('C:/Users/Asus/Downloads/Downloads/plants.xlsx')

In [0]:
produk = pd.read_excel('C:/Users/Asus/Downloads/Downloads/produk.xlsx')

In [0]:
sales_order2 = pd.read_excel('C:/Users/Asus/Downloads/Downloads/sales_order2.xlsx')

In [0]:
user_location = pd.read_excel('C:/Users/Asus/Downloads/Downloads/user_location.xlsx')

In [0]:
search_keyword = pd.read_excel('C:/Users/Asus/Downloads/Downloads/search_keyword.xlsx')

In [0]:
delivorder = pd.read_csv('C:/Users/Asus/Downloads/Downloads/delivorder.csv')

C:\Users\Asus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
delivorder_item = pd.read_csv('C:/Users/Asus/Downloads/Downloads/delivorder_item.csv')

C:\Users\Asus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Create Tables

In [0]:
def create_tables(conn,cur):
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE public.campaign (
            campaign VARCHAR(255) PRIMARY KEY,
            state VARCHAR(255),
            type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr INTEGER,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT)
        """,
        """
        CREATE TABLE public.campaign_details (
                    campaign VARCHAR (255) PRIMARY KEY,
                    state VARCHAR (255),
                    types VARCHAR (255),
                    subtype VARCHAR (255),
                    labels VARCHAR (255),
                    bid_strategy VARCHAR (255),
                    bid_strategy_type VARCHAR (255),
                    sitelinks_active INTEGER,
                    sitelinks_disapproved INTEGER,
                    phone_active INTEGER,
                    phone_disapproved INTEGER,
                    apps_active INTEGER,
                    apps_disapproved INTEGER,
                    apps_level VARCHAR (255),
                    desktop_bid_adj VARCHAR (255),
                    mobile_bid_adj VARCHAR (255),
                    tablet_bid_adj VARCHAR (255),
                    currency VARCHAR (255),
                    clicks INTEGER,
                    impressions INTEGER,
                    ctr INTEGER,
                    avg_cpc FLOAT,
                    cost FLOAT,
                    impr_abs_top FLOAT,
                    impr_top FLOAT,
                    conversions FLOAT,
                    view_through_conv INTEGER,
                    cost_per_conv FLOAT,
                    conv_rate FLOAT)
        """,
        """
        CREATE TABLE public.delivorder (
            do_id INTEGER PRIMARY KEY,
            do_tgl TEXT,
            do_org_id INTEGER,
            do_so_id INTEGER,
            do_tm_id FLOAT,
            do_nomor TEXT,
            do_driver_id FLOAT,
            do_status_verifikasi INTEGER,
            do_is_invoice INTEGER,
            do_is_tolak INTEGER,
            do_tolak_ket FLOAT,
            do_tgl_tolak FLOAT,
            do_jam_berangkat TEXT,
            do_ket FLOAT,
            do_bag_pengiriman_id FLOAT,
            do_createtime TEXT,
            do_tgl_terima TEXT,
            do_is_jurnal INTEGER,
            do_jam_terima TEXT,
            do_jam_datang_diproyek TEXT,
            do_jam_bongkar TEXT,
            do_tgl_datang_diproyek TEXT,
            do_tgl_bongkar TEXT,
            do_is_invoice_plant_utama INTEGER,
            do_stat_id FLOAT,
            do_tgl_pulang TEXT,
            do_jam_pulang TEXT,
            do_jarak_km FLOAT,
            do_ba_penolakan TEXT,
            do_pembuat_penolakan FLOAT,
            do_penyebab_penolakan TEXT,
            do_penyetuju_penolakan FLOAT,
            do_tld_id FLOAT,
            do_hari_ba_penolakan TEXT,
            do_tgl_ba_penolakan TEXT,
            do_barcode FLOAT,
            do_alasan_berkas_belum_terima FLOAT,
            do_is_berkas_diterima FLOAT,
            do_tgl_berkas_diterima TEXT,
            do_tempat_cor TEXT,
            do_lokasi_terima FLOAT)
            
        """,
        """
        CREATE TABLE public.delivorder_item (
            doi_id_unique SERIAL PRIMARY KEY,
            doi_id INTEGER,
            doi_do_id INTEGER,
            doi_soi_id INTEGER,
            doi_qty_kirim FLOAT,
            doi_qty_terima FLOAT,
            ket VARCHAR(255))
        """,
        """
        CREATE TABLE public.distance (
            from_location VARCHAR(255) PRIMARY KEY, 
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate INTEGER)
        """,
        """
        CREATE TABLE public.geographic (
            country_territory VARCHAR(255),
            region VARCHAR(255),
            metro_area VARCHAR(255),
            city VARCHAR(255),
            most_targeted_location VARCHAR(255),
            location_type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT)
        """,
        """
        CREATE TABLE public.plants (
            plant VARCHAR(255) PRIMARY KEY,
            batching_tipe VARCHAR(255),
            batching_jml INTEGER,
            batching_kapasitas INTEGER,
            status VARCHAR(255),
            jml_truk FLOAT)
        """,
        """
        CREATE TABLE public.product (
            no INTEGER PRIMARY KEY,
            mutu VARCHAR(255),
            spesifikasi VARCHAR(255),
            slump VARCHAR(255),
            spek_tambahan VARCHAR(255))
        """,
        """
        CREATE TABLE public.sales_order (
            tanggal_pemesanan TIMESTAMP,
            nomor_kontrak_retail VARCHAR(255) PRIMARY KEY,
            pelanggan VARCHAR(255),
            jenis VARCHAR(255),
            nama_proyek VARCHAR(255),
            product VARCHAR(255),
            area VARCHAR(255),
            nilai INTEGER,
            status VARCHAR(255))
        """,
        """
        CREATE TABLE public.search_keyword (
            keyword_id SERIAL PRIMARY KEY,
            keyword VARCHAR (255),
            keyword_status VARCHAR (255),
            keyword_match_type VARCHAR (255),
            campaign VARCHAR (255),
            ad_group VARCHAR (255),
            keyword_max_cpc INTEGER,
            currency VARCHAR (255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost INTEGER,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_conv FLOAT,
            conv_rate FLOAT,
            avg_cpm FLOAT)
        """,
        """
        CREATE TABLE public.user_location (
            id_location SERIAL PRIMARY KEY,
            country VARCHAR(255),
            region VARCHAR(255),
            metro_area VARCHAR(255),
            city VARCHAR(255),
            most_targeted_location VARCHAR(255),
            location_type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_conv FLOAT,
            conv_rate FLOAT)
        """,
    )
    for command in commands:
        cur.execute(command)
        conn.commit()

In [0]:
create_tables(conn,cur)

## Fill The Value Data of Each Tables

I have 3 syntax ways to insert data values into each table

1st Syntax

In [0]:
#Insert Data Values Into 'campaign' Table
conn
cur
for i in range(len(campaign)):
    sql = "INSERT INTO campaign VALUES ('%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' )" % tuple(campaign.values[i])
    cur.execute(sql)
    conn.commit()

In [0]:
#Insert Data Values Into 'campaign_details' Table
conn
cur
for i in range(len(campaign_details)):
    sql = "INSERT INTO campaign_details VALUES ('%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s', '%s' ,'%s' , '%s' )" %tuple(campaign_details.values[i])
    cur.execute(sql)
    conn.commit()

In [0]:
#Insert Data Values Into 'distance' Table
conn
cur
for i in range(len(distance)):
    sql = "INSERT INTO distance VALUES ('%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' )" % tuple(distance.values[i])
    cur.execute(sql)
    conn.commit()

In [0]:
#Insert Data Values Into 'geographic' Table
conn
cur
for i in range(len(geographic)):
    sql = "INSERT INTO geographic VALUES ('%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' ,'%s' )" % tuple(geographic.values[i])
    cur.execute(sql)
    conn.commit()

2nd Syntax

In [0]:
# Another Way to insert value to table
def insert_val(table, namatable):
    for i,row in table.iterrows():
        sql = "INSERT INTO " + str(namatable) + " VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cur.execute(sql, tuple(row))
        conn.commit()

In [0]:
#Insert Data Values Into 'plants' Table
insert_val(plants, 'plants')

In [0]:
#Insert Data Values Into 'product' Table
insert_val(produk, 'product')

In [0]:
#Insert Data Values Into 'sales_order' Table
insert_val(sales_order2, 'sales_order')

3rd Syntax

In [0]:
#Again Another Way to insert data value to the tables
def insert_val1(table, namatable):
    cols = ",".join([str(i) for i in table.columns.tolist()])
    for i,row in table.iterrows():
        sql2 = "INSERT INTO "+ str(namatable) +" (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cur.execute(sql2, tuple(row))
        conn.commit()

In [0]:
#Insert Data Values into 'user_location' table
insert_val1(user_location, 'user_location')

In [0]:
#Insert Data Value into 'search_keyword' table
insert_val1(search_keyword, 'search_keyword')

In [0]:
#Limit row delivorder to 1000 rows
delivorder = delivorder.iloc[:1000, :]

#Insert Data Value into 'delivorder' table
insert_val1(delivorder, 'delivorder')

In [0]:
#Limit row delivorder_item to 1000 rows
delivorder_item = delivorder_item.iloc[:1000, :]

#Insert Data Value into 'delivorder' table
insert_val1(delivorder_item, 'delivorder_item')

In [0]:
conn.close()